* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.box {

    margin-top: 50px;
    width: 820px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 250px;
    height: 250px;
    background-color: green;
    transition: 1.5s;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.item:hover{
    cursor: pointer;
}

.active{
    background-color: red;
}